html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.container-app {
  min-height: calc(100vh - 70px);
}

.footer-app {
  height: 35px;
}

@media (max-width: 768px) {
  .container-app {
    min-height: calc(100vh - 140px);
  }

  .footer-app {
    height: 110px;
  }
}

.hr-admin {
  margin: 15px 0px;
  border: solid 1px;
}

.conta {
  margin-top: 10px;
  border: 10px;
  padding: 10px;
}

.file-admin {
  width: 100%;
}
