html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.container-app {
  min-height: calc(100vh - 70px);
}

.footer-app {
  height: 35px;
}

@media (max-width: 768px) {
  .container-app {
    min-height: calc(100vh - 140px);
  }

  .footer-app {
    height: 110px;
  }
}

.hr-admin {
  margin: 15px 0px;
  border: solid 1px;
}

.row2 {
  padding-top: 20px;
}
.conta {
  margin-top: 10px;
  border: 10px;
}

.file-admin {
  width: 100%;
}

.target {
  margin-left: 10%;
}

#form-user {
  position: relative;
  width: 60%;
  left: 20%;
}

.container-problematics {
  padding-top: 2%;
}

@media (max-width: 768px) {
  #form-user {
    width: 80%;
    left: 10%;
  }
}
 
.problemCards{
  width: 90%;
  height: 5px;
  margin-left: 10%;
  padding-top : 100px;
}

.CardContent-problematics{
  height: 30px;
}

.options-problematics{
  text-align: right
}